:root {
	--primary: #fbda3a;
	--secondary: #FFC107;
	--bg-light: #ececec;
	--bg-neutral: #9E9E9E;
	--bg-dark: #404040;
	--bg-darker: #303030;
}

html {
 	height: 100%;
	background-color: whitesmoke;
	font-family: sans-serif;
}

main {
	width: 30%;
	min-width: 600px;
	max-width: 90%;
	height: 100%;
	margin: 5vh auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	background-color: var(--bg-dark);
	width: 100%;
	height: 60px;
	justify-content: center;
	display: flex;
	align-items: center;
}

header h1{
	color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.8em;
	letter-spacing: 2px;
}

ol {
	list-style-type: decimal;
}

ol li {
	margin: 6px 0;
}

.title{
	background-color: var(--bg-dark);
	width: 100%;
	height: 50px;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	display: inherit;
	justify-content: center;
}

.title p {
	align-self: center;
	color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2em;
	letter-spacing: 2px;
}


input {
	width:100px;
	height:25px;
	padding: 0 3px;
	border: 0;
	outline: 1px solid #ccc;
	outline: none;
	text-align:left;
}

select {
	width: 120px;
	height: 25px;
	border: none;
}

.selectServing {
	border-radius: 4px;
	display: inline-flex;
	overflow: hidden;
	height: 25px;
}

.selectServing input {
	display: none;
}

.selectServing label {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 1.4px;
	padding: 3px 8px;
	color: #909090;
	background-color: #fcfcfc;
}

.selectServing input:checked + label {
	background-color: var(--bg-dark);
	color: var(--primary);
}

.clickable {
	cursor: pointer;
}

.deleteItem {
	background-color: transparent;
	border: none;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
}

.deleteItem img {
	height: 11px;
}

.disable-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}




.add_btn{
	background-color: var(--primary);
	color:var(--bg-darker);
	width:100%;
	height:100%;
	padding:5px 0 0 0;
	border: none;
	border-radius: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1.5px;
	cursor: pointer;
	outline: none;
}
.add_btn:hover{
	background-color: var(--secondary);
}
.add_btn:active{
	color:white;
}

.submit_btn{
	width:100%;
	height:35px;
	padding-top: 5px;
	margin: 1em auto;
	border:0px;
	border-radius:5px;
	text-align:center;
	background-color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.3em;
	letter-spacing: 1.5px;
}

.submit_btn:hover{
	background-color: var(--secondary);
}
.submit_btn:active{
	color:white;
	outline:none;
}
.bev_number{
	padding:0 0 0 5px;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.3em;
}

.content {
	height: calc(100% - 50px);
	width: 100%;
	padding:0.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ccc;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}
