:root {
	--primary: #fbda3a;
	--secondary: #FFC107;
	--bg-light: #ececec;
	--bg-neutral: #9E9E9E;
	--bg-dark: #404040;
	--bg-darker: #303030;
}

html {
 	height: 100%;
	background-color: whitesmoke;
}

header {
	background-color: var(--bg-dark);
	width: 100%;
	height: 50px;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	display: inherit;
	justify-content: center;
}

header p {
	align-self: center;
	color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2em;
	letter-spacing: 2px;
}

input {
	padding: 0.75em 0.5em;
	width: 75%;
	border-radius: 0.25em;
	outline: none;
	border: 2px solid var(--bg-dark);
}

.forgot-pass-block{
	display: flex;
	align-self: center;
	font-family: 'Bebas Neue', sans-serif;
	padding:1.2em 0 0 0;
	letter-spacing: 0.15em;
}
a{
	text-decoration: none;
	font-size: 1.2em;
	color:whitesmoke;
}
a:hover{
	font-size: 1.25em;
	color:white;
}

.input-block {
	width: 100%;
	margin: 0.75em 0;
	display: flex;
	justify-content: center;
}

.invalid {
	border: 2px dotted red;
}

.modal {
	width: 450px;
	max-width: 90%;
	height: 300px;
	margin: 5vh auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	height: calc(100% - 50px);
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #ccc;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1vh;
	width: calc(100% - 10vw);
}

.button-submit {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.2em;
	letter-spacing: 1.5px;
	border-radius: 0.25em;
	border: none;
	width: 10em;
	height: 2.5em;
	cursor: pointer;
	outline: none;
	background-color: var(--primary);
	-webkit-box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.5);
	-moz-box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.5);
	box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.5);
}

.button-submit:hover {
	-webkit-box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.7);
	-moz-box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.7);
	box-shadow: 0px 3px 10px 0px rgba(128,128,128,0.7);
}

.button-submit:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-top: 0.2em;
}


@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}
