:root {
	--primary: #fbda3a;
	--secondary: #FFC107;
	--bg-light: #ececec;
	--bg-neutral: #9E9E9E;
	--bg-dark: #404040;
	--bg-darker: #303030;
}

body, html {
	font-family: sans-serif;
	margin: 0;
	max-height: 100vh;
	min-width: 300px;
	overflow: hidden;
	padding: 0;
}

/* old primary colors #f9da49 */

.centered {
	margin: 0 auto;
}

.button {
	cursor: pointer;
}

.icon {
	display: block;
	height: 45px;
	margin: 0 auto;
	padding: 5px;
}

.closebtn {
    background-color: white;
    border-radius: 50%;
    color: var(--bg-darker);
    font-size: 1.5em;
    opacity: 0.75;
    padding: 0 8px 5px 8px;
    text-decoration: none;
    top: 8px;
    z-index: 20;
    border: solid 2px var(--bg-darker);
    position: relative;
}

.closebtn:hover {
	background-color: var(--bg-neutral);
	color: #101010;
}

.absolute {
    position: absolute;
}


/* ----- HEADER ----- */
header {
	background-color: var(--bg-dark);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.logo {
	height: 36px;
	padding-right: 5px;
}

.title {
	color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.9em;
	letter-spacing: 2px;
	text-decoration: none;
	display:  -webkit-box;
	display:  -ms-flexbox;
	display:  flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.version {
	font-size: 0.35em;
	letter-spacing: 1px;
	padding-top: 8px;
	-ms-flex-item-align: baseline;
	    align-self: baseline;
}

.header-icon {
	height: 35px;
	padding: 0 5px;
}

#title-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	min-width: 190px;
}

.header-button {
	background-color: transparent;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	    align-content: center;
}

.header-button:hover {
	background-color: var(--bg-darker);
}
/* ----- HEADER LOPPU ----- */



/* ----- MENU ----- */
.menu-block {
	margin: 17px auto;
	width: calc(100% - 60px);
}

.menu-search-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.menu-search-container input {
	border-bottom-left-radius: 5px;
	border-right:none;
	border-top-left-radius: 5px;
	border: 3px solid var(--bg-dark);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #202020;
	-webkit-box-flex: 10;
	    -ms-flex: 10;
	        flex: 10;
	height: 30px;
	outline: none;
	padding-left: 5px;
}

.menu-search-container button {
	background: var(--bg-dark);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid var(--bg-dark);
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.menu-search-container img {
	height: 20px;
}

.search-option {
	background-color: var(--bg-neutral);
	border-radius: 8px;
	border: none;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	        box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	color: var(--bg-darker);
	font: 1em 'Montserrat', sans-serif;
	height: 85px;
	outline: none;
	position: relative;
	top: 1px;
	width: 100px;
}

.search-option:hover {
	-webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.18);
	        box-shadow: 0px 3px 4px rgba(0,0,0,0.18);
	top: 0;
}

.close-x-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.lists-container > div {
	margin-bottom: 10px;
}

.slider-container {
	margin-top: 14px;
}

.slider-container:first-child {
	margin-top: 4px;
}

.slider-container span {
	color: #444;
}

.slider {
	margin: 10px 0;
}

.lists-container {
}

.button-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px auto;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.button-cancel {
	background-color: transparent;
	border: 2px solid var(--secondary);
}

.button-submit {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa600+1,e59b12+100 */
	background: var(--secondary); /* Old browsers */ /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffa600 1%,#e59b12 100%); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffa600),to(#e59b12));
	background: -o-linear-gradient(top, #ffa600 1%,#e59b12 100%);
	background: linear-gradient(to bottom, #ffa600 1%,#e59b12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border: none;
}

.menu-button {
	border-radius: 8px;
	color: var(--bg-darker);
	font: 0.9em 'Montserrat', sans-serif;
	height: 45px;
	width: 100px;
}

.dropdown {
	overflow: hidden;
}

.dropdown div {
	background-color: var(--bg-neutral);
	border: 2px solid #bbb;
	color: #101010;
	padding: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.dropdown ul {
	background-color: #a1a1a1;
	border-top: none;
	color: #101010;
	height: 0px;
	list-style-type: none;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.dropdown ul::-webkit-scrollbar {
	display: none;
}

/* checkmarks
.dropdown li:before {
	content:"\2714\0020";
}
*/

.dropdown li{
	border-bottom: 1px solid #808080;
	display: block;
	padding: 5px 10px;
}

.dropdown li:hover {
	background-color: #dedede;
}

.dropdown-icon {
	display: inline;
	height: 15px;
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.out-of-focus-area {
	background-color: rgba(0,0,0, 0.5);
	height: 100vh;
	position: absolute;
	width: 0;
	z-index: 40;
}

.noUi-horizontal.noUi-extended {
	padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}

#side-menu {
    background-color: var(--bg-light);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: -300px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 300px;
    z-index: 50;
}

#menu-close-x {
	left: 88%;
}

#search-option-sliders {
	margin: 10px auto 20px auto;
}

#search-option-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
/* ----- MENU LOPPU ----- */



/* ----- RESTAURANT CARD -----*/


.hero-image {
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	vertical-align: top;
}

.rating-icon {
	width: 36px;
	padding-left: 2px;
}

.transit-icon {
	height: 20px;
	padding: 2px;
}

.directions-buttons {
	margin-top: 8px;
}

.directions-button {
	margin-right: 4px;
}

.column {
	padding: 0 10px;
	width: calc(50% - 20px);
}

#openHours p {
	margin: 0;
	padding: 0;
}

#card-content {
	margin: 0 25px;
}

#card-close-x {
	left: 94%;
}

#drinks-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#rating {
	min-width: 160px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

#bar-info {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

#bar-name {
	font-size: 1.8em;
	margin: 0;
}

#bar-address {
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
	padding-left: 3px;
	color: #484848;
}

#bar-open {
	margin: 12px auto 0 auto;
}

#card-top-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 20px;
}

#restaurant-card {
    background-color: var(--bg-light);
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: -600px;
    top: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    width: 600px;
    z-index: 50;
}

/* ----- RESTAURANT CARD LOPPU -----*/



/* ----- KARTTA ----- */
#map {
	height: calc(100vh - 60px);
	transition: height 0.6s;
}
/* ----- KARTTA LOPPU----- */



/* ----- KARTAN HAKUKENTTÄ ----- */
#search-container {
	bottom: 3vh;
	left: calc(50% - 22px);
	position: absolute;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
}

#searchbox {
	border-radius: 5px;
	border: 3px solid var(--bg-dark);
	color: #9DBFAF;
	float: left;
	font-size: 24px;
	height: 30px;
	outline: none;
	padding: 5px;
	z-index: 2;	
}

#searchbox:focus {
	color: #202020;
}

#search-container button {
	background: var(--bg-dark);
	border-radius: 5px;
	border: 1px solid var(--bg-dark);
	height: 46px;
	position: absolute;  
	right: -44px;
	width: 50px;
}

#search-container button img {
	height: 25px;
}
/* ----- KARTAN HAKUKENTTÄ LOPPU ----- */


/* ----- TUTORIAL MODAL ALKU ----- */

.modal-container {
	height: 100vh;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: transparent;
	opacity: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 20;
}

.modal {
	max-width: 800px;
	max-height: 600px;
	height: 75%;
	width: 90%;
	position: fixed;
	border-radius: 12px;
	top:  50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: orange;
}


/* ----- TUTORIAL MODAL LOPPU ----- */

#route {
	bottom: 0;
	width: 100%;
	z-index: 50;
	height:  0;
	overflow-y:  scroll;
	position: relative;
	overflow-x: hidden;
}

#route-close-x {
	margin-top: 15px;
}

.draggable {
	position: absolute;
	top: 0;
	height: 15px;
	background-color: black;
	width: 100vw;
}

.selected {
	background-color: #ffffff;
	color: #101010;
}

.selected-border {
	border: solid 4px var(--primary)
}


/* ----- ROUTE/NAVIGATION/DIRECTIONS LOPPU ----- */

.selected {
	color: var(--secondary);
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
	#search-container {
		bottom: 20px;
	}

	#searchbox {
		width: 230px;
	}
}

@media only screen and (max-width: 767px){
	.logo {
		height: 27px;
		padding-right: 0;
	}

	.title {
		font-size: 2.2em;
	}

	.title-text {
		height: 0.7em;
	}

	.rating-icon {
		width: 26px;
	}

	.header-icon {
		height: 25px;
	}

	.draggable {
		height: 25px;
	}

	header, #title-container {
		height: 45px;
	}

	#searchbox{
		font-size: 20px;
		height: 20px;
		width: 175px;
	}

	#search-container {
		bottom: 20px;
		left: calc(50% - 17px);
	}

	#search-container button {
		height: 36px;
		right: -34px;
		width: 40px;
	}

	#restaurant-card {
		width: 100%;
		max-width: 600px;
	}

	#card-content {
		margin: 0 10px;
	}

	#rating {
		min-width: 130px;
	}

	#route-close-x {
		margin-top: 25px;
	}
}



@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}