:root {
	--primary: #ffcb20;
	--secondary: ;
	--bg-light: #ececec;
	--bg-neutral: #bababa;
	--bg-dark: #404040;
	--bg-darker: #303030;
}

body, html {
	font-family: sans-serif;
	margin: 0;
	max-height: 100vh;
	min-width: 350px;
	overflow: hidden;
	padding: 0;
}

/* #f9da49 */

.test {
	border: solid 2px red;
}

.centered {
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.button {
	cursor: pointer;
}

.icon {
	display: block;
	height: 45px;
	margin: 0 auto;
	padding: 5px;
}

.closebtn {
    color: var(--bg-darker);
    font-size: 1.5em;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 1vh;
    padding: 0 10px 5px 10px;
    border-radius: 50%;
    background-color: #eee;
    opacity: 0.75;
}

.closebtn:hover {
	color: #101010;
	background-color: var(--bg-neutral);
}


/* ----- HEADER ----- */
header {
	height: 60px;
	background-color: var(--bg-dark);
}

.logo {
	height: 36px;
	padding-right: 5px;
}

.title {
	color: var(--primary);
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2.9em;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

.title a {
	text-decoration: none;
	color: inherit;
}

.menu-icon {
	height: 35px;
	padding: 10px;
}

#title-container {
	display: flex;
	height: 60px;
	left: 50%;
	line-height: 60px;
	min-width: 190px;
	position: fixed;
	top: 0;
	transform: translate(-50%);
}

#hamburger-menu {
	background-color: transparent;
	border: none;
}

#hamburger-menu:hover {
	background-color: var(--bg-darker);
}
/* ----- HEADER LOPPU ----- */



/* ----- MENU ----- */
.menu-block {
	width: calc(100% - 60px);
	margin-bottom: 25px;
}

#side-menu {
    background-color: var(--bg-light);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    left: -300px;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 300px;
    z-index: 50;
}

.search-option {
	background-color: var(--bg-neutral);
	border-radius: 8px;
	border: none;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	color: var(--bg-darker);
	font: 1em 'Montserrat', sans-serif;
	height: 90px;
	top: 1px;
	position: relative;
	outline: none;
	width: 105px;
}

.search-option:hover {
	background-color: #ababab;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.18);
	top: 0;
}


.slider-container {
	margin-top: 25px;
}

.slider-container span {
	color: #444;
}

.slider {
	margin: 10px 0;
}

.dropdown {
	overflow: hidden;
}

.dropdown div {
	background-color: var(--bg-neutral);
	border: 2px solid #bbb;
	color: #101010;
	padding: 5px;
}

.dropdown ul {
	background-color: #a1a1a1;
	border-top: none;
	color: #101010;
	height: 0px;
	list-style-type: none;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
	transition: 0.5s;
}

.dropdown ul::-webkit-scrollbar {
	display: none;
}

.dropdown li{
	border-bottom: 1px solid #808080;
	display: block;
	padding: 5px 10px;
}

.dropdown li:hover {
	background-color: #dedede;
}

.dropdown-icon {
	display: inline;
	height: 15px;
	transform: rotate(-90deg);
}

.out-of-focus-area {
	background-color: rgba(0,0,0, 0.5);
	height: 100vh;
	position: absolute;
	width: 0;
	z-index: 40;
}

.noUi-horizontal.noUi-extended {
	padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
	left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
	right: -32px;
}

#search-option-sliders {
	margin-bottom: 50px;
}

#search-option-buttons {
	display: flex;
	justify-content: space-between;
}
/* ----- MENU LOPPU ----- */



/* ----- RESTAURANT CARD -----*/


.hero-image {
	background-image: url(../boothill.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	vertical-align: top;
}

.rating-icon {
	height: 30px;
	padding-left: 2px;
}

.column {
	padding: 0 10px;
	width: calc(50% - 20px);
}

#openHours p {
	margin: 0;
	padding: 0;
}

#card-content {
	margin: 0 25px;
}

#drinks-container {
	display: flex;
	justify-content: space-between;
}

#bar-info {
	flex: 1;
}

#bar-name {
	margin: 0;
	font-size: 1.8em
}

#bar-address {
	font-size: 0.8em;
	font-style: italic;
	margin: 0;
	padding-left: 3px;
}

#card-top-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#rating {
	
}


#restaurant-card {
    background-color: var(--bg-light);
    color: #252525;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: -600px;
    top: 0;
    transition: 0.5s;
    width: 600px;
    z-index: 50;
}

/* ----- RESTAURANT CARD LOPPU -----*/



/* ----- KARTTA ----- */
#map {
	height: calc(100vh - 60px);
}
/* ----- KARTTA LOPPU----- */



/* ----- KARTAN HAKUKENTTÄ ----- */
#search-container {
	bottom: 3vh;
	left: calc(50% - 22px);
	position: absolute;
	transform: translate(-50%);
}

#searchbox {
	border-radius: 5px;
	border: 3px solid var(--bg-dark);
	color: #9DBFAF;
	float: left;
	font-size: 24px;
	height: 30px;
	outline: none;
	padding: 5px;
	z-index: 2;	
}

#searchbox:focus {
	color: #202020;
}

#search-container button {
	background: var(--bg-dark);
	border-radius: 5px;
	border: 1px solid var(--bg-dark);
	height: 46px;
	position: absolute;  
	right: -44px;
	width: 50px;
}

#search-container button img {
	height: 25px;
}
/* ----- KARTAN HAKUKENTTÄ LOPPU ----- */


.selected {
	background-color: #ffffff;
	color: #101010;
}

.selected-border {
	border: solid 4px var(--primary)
}


@media only screen and (min-width: 768px) and (max-width: 1280px) {
	#search-container {
		bottom: 20px;
	}

	#searchbox {
		width: 230px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 767px){
	#searchbox{
		font-size: 20px;
		height: 20px;
		width: 175px;
	}

	#search-container {
		bottom: 20px;
		left: calc(50% - 17px);
	}

	#search-container button {
		height: 36px;
		right: -34px;
		width: 40px;
	}

	#restaurant-card {
		width: 100%;
		max-width: 600px;
	}

	.logo {
		height: 30px;
		padding-right: 0;
	}

	.title {
		font-size: 2.2em;
		padding-top: 3px;
	}

	.menu-icon {
		height: 25px;
		padding: 9px 5px;
	}

	header, #title-container {
		height: 45px;
		line-height: 45px;
	}

	#map {
		height: calc(100vh - 45px);
	}
}






@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: normal;
	src: local('Bebas Neue Bold'), url('../fonts/BEBASNEUE BOLD.woff') format('woff');
}